{% extends "base.html" %}

{% block title %}Acheter des Jetons{% endblock %}

{% block content %}
<header class="bg-primary text-white py-4 shadow">
    <div class="container text-center">
        <h1 class="h2 fw-bold">Acheter des Jetons</h1>
    </div>
</header>

<div class="container my-5">
    <!-- Section Choix du Pack -->
    <h2 class="text-center text-secondary fw-bold mb-4">Choisissez un pack de jetons</h2>
    <form method="POST" action="{{ url_for('client.acheter_jetons') }}" class="p-4 border rounded shadow-sm bg-light">
        {{ form.hidden_tag() }}
        
        <!-- Sélection du Pack -->
        <div class="mb-4">
            <label for="pack" class="form-label fw-bold">Pack de jetons</label>
            {{ form.pack_jetons(class="form-select shadow-sm") }}
        </div>
        
        <!-- Bouton d'Achat -->
        <button type="submit" class="btn btn-success w-100 py-3 shadow-sm">
            <i class="fas fa-shopping-cart me-2"></i> Acheter
        </button>
    </form>
</div>
{% endblock %}
